{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '@fortawesome/fontawesome-free/css/all.css' %}">

    <title>{% block title %}{% endblock %} - {{ site_name }}</title>
</head>
<body>
<div class="alert alert-warning" role="alert">
    This app is experimental. Use at your own risk.
</div>
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">
    {{ message }}
</div>
{% endfor %}
<div class="container">
    <div class="col-md-6 offset-md-3">
        <h1>GoalMates</h1>
        {% block content %}{% endblock %}
    </div>
</div>
<script src="{% static 'jquery/dist/jquery.slim.min.js' %}"></script>
<script src="{% static '@popperjs/core/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
</body>
</html>
