{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Confirm E-mail Address{% endblock %}
{% block content %}
<h2>Confirm E-mail Address</h2>
{% if confirmation %}
<p>
    Please confirm that <a href="mailto:{{ email }}">{{ confirmation.email_address.email }}</a> is an e-mail address for
    user {{ confirmation.email_address.user }}.
</p>
<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
    {% csrf_token %}
    <button class="btn btn-primary" type="submit">Confirm</button>
</form>
{% else %}
{% url 'account_email' as email_url %}
<p>
    This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail
    confirmation request</a>.
</p>
{% endif %}
{% endblock %}
