{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Sign In{% endblock %}
{% block content %}
<h2>Sign In</h2>
<p>
    If you have not created an account yet, then please
    <a href="{{ signup_url }}">
        sign up
    </a>
    first.
</p>
<form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="btn btn-primary" type="submit" onClick="showAndroidToast()">Sign In</button>
</form>
<br>
<p>
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">
        Forgot Password?
    </a>
</p>
<script type="text/javascript">
    function showAndroidToast() {
        var username = document.getElementById("id_login").value;
        var password = document.getElementById("id_password").value;
        Android.showToast(username, password);
    }
</script>
<h3>
    What is GoalMates?
</h3>
<p>
    GoalMates is a shared to-do list that holds you and your mates accountable to one another, fueling your motivation
    to achieve your goals that too often fall by the wayside.
    You pick and choose who to share with. It can be your best mate or a hundred people.
</p>
{% endblock %}
