{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Sign Out{% endblock %}
{% block content %}
<h2>Sign Out</h2>
<p>Are you sure you want to sign out?</p>
<form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="btn btn-primary" type="submit">Sign Out</button>
</form>
{% endblock %}
