{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Password Reset{% endblock %}
{% block content %}
<h2>Password Reset</h2>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}
<p>
    Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.
</p>
<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit" name="action">Reset My Password</button>
</form>
<br>
<p>
    Please contact us if you have any trouble resetting your password.
</p>
{% endblock %}
