{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Change Password{% endblock %}
{% block content %}
<h2>Change Password</h2>
<p>
    Your password is now changed.
</p>
<p>
    <a href="{% url 'my-tasks' %}">
        Click here to go to GoalMates
    </a>
</p>
{% endblock %}
