{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Change Password{% endblock %}
{% block content %}
<h2>Change Password</h2>
<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit" name="action">Change Password</button>
</form>
{% endblock %}
