{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<h2>Sign Up</h2>
<p>
    Already have an account? Then please <a href="{{ login_url }}">sign in</a>.
</p>
<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>
<br>
<h3>
    What is GoalMates?
</h3>
<p>
    GoalMates is a shared to-do list that holds you and your mates accountable to one another, fueling your motivation
    to achieve your goals that too often fall by the wayside.
    You pick and choose who to share with. It can be your best mate or a hundred people.
</p>
{% endblock %}
