{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Verify Your E-mail Address{% endblock %}
{% block content %}
<h2>Verify Your E-mail Address</h2>
<p>
    We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please
    contact us if you do not receive it within a few minutes.
</p>
{% endblock %}
