{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '@fortawesome/fontawesome-free/css/all.css' %}">

    <title>{% block title %}{% endblock %} - {{ site_name }}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'my-tasks' %}">{{ site_name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'my-tasks' %}">My Tasks</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    My Groups
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for list in user.list_set.all %}
                    <a class="dropdown-item" href="{% url 'group-tasks' list.group.pk %}">{{ list.group }}</a>
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'group-create' %}">Create Group</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Account [{{user}}]
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarUserDropdown">
                    <a class="nav-link" href="{% url 'profile-update' %}">Profile</a>
                    <a class="nav-link" href="/accounts/password/change/">Change Password</a>
                    <a class="nav-link" href="/accounts/logout/">Sign Out</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% static 'goalmates_1.0.0-beta.apk' %}">Install GoalMates (Android)</a>
            </li>
        </ul>
        <form class="form-inline">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1"
                       onclick="window.location.assign('{% url 'toggle-focused' %}');"
                       {% if user.profile.focused %}
                       checked
                       {% endif %}>
                <label class="custom-control-label" for="customSwitch1">Focused</label>
                </a>
            </div>
        </form>
    </div>
</nav>
<div class="alert alert-warning" role="alert">
    This app is experimental. Use at your own risk.
</div>
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">
    {{ message }}
</div>
{% endfor %}
{% block content %}{% endblock %}
<script src="{% static 'jquery/dist/jquery.slim.min.js' %}"></script>
<script src="{% static '@popperjs/core/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
</body>
</html>
