{% extends "wallofshameapp/base.html" %}
{% load template_filters %}
{% block title %}{% if group.personal_group %}Personal Tasks{% else %}{{ group }} Tasks{% endif %}{% endblock %}
{% block content %}
<main role="main" class="container">
    <h2>
        {% if group.personal_group %}Personal Tasks{% else %}{{ group }} Tasks{% endif %}
    </h2>
    <a class="btn btn-primary btn-sm" href="{% url 'group-add-task' group.pk %}" role="button">Add Task</a>
    {% if not group.personal_group %}
    {% if is_admin %}
    <a class="btn btn-success btn-sm" href="{% url 'group-add-user' group.pk %}" role="button">Add User</a>
    <a class="btn btn-danger btn-sm" href="{% url 'group-renounce-admin' group.pk %}" role="button">Renounce Admin</a>
    {% endif %}
    <a class="btn btn-danger btn-sm" href="{% url 'leave-group' group.pk %}" role="button">Leave Group</a>
    {% endif %}
    <br>
    <br>
    {% for list in group.list_set.all %}
    <h4>
        {{ list.user.profile.display_name }}
        {% if list.admin %}
        (admin)
        {% endif %}
        {% if is_admin and not list.admin %}
        <a class="btn btn-success btn-sm" href="{% url 'make-admin' group.pk list.user.pk %}" role="button">
            Make Admin
        </a>
        {% endif %}
    </h4>
    <table class="table table-sm">
        <tbody>
        {% if user.profile.focused %}
        {% for task in list.task_set.all|most_urgent_tasks:user.profile.max_focused_tasks %}
        <tr>
            <td>
                <i class="{{ task|status_icon_class }} fa-fw"></i>
                {{ task }}
                <br>
                <i class="far fa-fw"></i>
                <small class="text-muted">{{ task.due }}</small>
            </td>
            <td>
                {% if list.user == user %}
                <a href="{% url 'task-update' task.pk %}?next={% url 'group-tasks' list.group.pk %}">
                    <i class="fas fa-edit"></i>
                </a>
                {% endif %}
            </td>
            <td>
                {% if list.user == user %}
                <a href="{% url 'task-delete' task.pk %}?next={% url 'group-tasks' list.group.pk %}">
                    <i class="fas fa-trash"></i>
                </a>
                {% endif %}
            </td>
            <td>
                {% if list.user != user and task.overdue %}
                <a class="btn {% if task|is_shameful:user %}btn-danger{% else %}btn-secondary{% endif %} btn-sm"
                   href="{% url 'task-shame' task.pk %}" role="button">
                    Shame
                </a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td class="text-muted font-italic">
                No Tasks
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
        {% else %}
        {% for task in list.task_set.all|newest_tasks:"20" %}
        <tr>
            <td>
                <i class="{{ task|status_icon_class }} fa-fw"></i>
                {{ task }}
                <br>
                <i class="far fa-fw"></i>
                <small class="text-muted">{{ task.due }}</small>
            </td>
            <td>
                {% if list.user == user %}
                <a href="{% url 'task-update' task.pk %}?next={% url 'group-tasks' list.group.pk %}">
                    <i class="fas fa-edit"></i>
                </a>
                {% endif %}
            </td>
            <td>
                {% if list.user == user %}
                <a href="{% url 'task-delete' task.pk %}?next={% url 'group-tasks' list.group.pk %}">
                    <i class="fas fa-trash"></i>
                </a>
                {% endif %}
            </td>
            <td>
                {% if list.user != user and task.overdue %}
                <a class="btn {% if task|is_shameful:user %}btn-danger{% else %}btn-secondary{% endif %} btn-sm"
                   href="{% url 'task-shame' task.pk %}" role="button">
                    Shame
                </a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td class="text-muted font-italic">
                No Tasks
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
    {% endfor %}
</main>
{% endblock %}
