{% extends "wallofshameapp/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Add User to Group {{ group }}{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="col-md-6 offset-md-3">
        <h2>
            Add User to Group {{ group }}
        </h2>
        {% crispy form %}
    </div>
</main>
{% endblock %}
