{% extends "wallofshameapp/base.html" %}
{% block title %}Leave Group {{ object.group.name }}{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="col-md-6 offset-md-3">
        <h2>
            Leave Group {{ object.group.name }}
        </h2>
        <form method="post">{% csrf_token %}
            <p>Are you sure you want to leave group "{{ object.group.name }}"?</p>
            <input class="btn btn-danger" type="submit" value="Confirm">
        </form>
    </div>
</main>
{% endblock %}
