{% extends "wallofshameapp/base.html" %}
{% block title %}My Tasks{% endblock %}
{% block content %}
<main role="main" class="container">
    <h2>
        My Tasks
    </h2>
    {% if lists %}
    <a class="btn btn-primary btn-sm" href="{% url 'add' %}" role="button">Add Task</a>
    {% endif %}
    <a class="btn btn-primary btn-sm" href="{% url 'group-create' %}" role="button">Create Group</a>
    <br>
    <br>
    {% for list in lists %}
    <h4>
        <a href="{% url 'group-tasks' list.group.pk %}">
            {{ list.group }}
        </a>
    </h4>
    <table class="table table-sm">
        </thead>
        <tbody>
        {% if user.profile.focused %}
        {% for task in list.task_set.all|most_urgent_tasks:user.profile.max_focused_tasks %}
        <tr>
            <td>
                <i class="{{ task|status_icon_class }} fa-fw"></i>
                {{ task }}
                <br>
                <i class="far fa-fw"></i>
                <small class="text-muted">{{ task.due }}</small>
            </td>
            <td>
                <a href="{% url 'task-update' task.pk %}?next={% url 'my-tasks' %}">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
            <td>
                <a href="{% url 'task-delete' task.pk %}?next={% url 'my-tasks' %}">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td class="text-muted font-italic">
                No Tasks
            </td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
        {% else %}
        {% for task in list.task_set.all|newest_tasks:"20" %}
        <tr>
            <td>
                <i class="{{ task|status_icon_class }} fa-fw"></i>
                {{ task }}
                <br>
                <i class="far fa-fw"></i>
                <small class="text-muted">{{ task.due }}</small>
            </td>
            <td>
                <a href="{% url 'task-update' task.pk %}?next={% url 'my-tasks' %}">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
            <td>
                <a href="{% url 'task-delete' task.pk %}?next={% url 'my-tasks' %}">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td class="text-muted font-italic">
                No Tasks
            </td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
    {% endfor %}
</main>
{% endblock %}
