{% extends "wallofshameapp/base.html" %}
{% block title %}Delete Task {{ object }}{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="col-md-6 offset-md-3">
        <h2>
            Delete Task {{ object }}
        </h2>
        <form method="post">{% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
            <input class="btn btn-danger" type="submit" value="Confirm">
        </form>
    </div>
</main>
{% endblock %}
